<mat-toolbar color='primary'>
  <div fxLayoutAlign="space-between center" class="nav-buttons">

    <button mat-button>Home</button>
    <div *ngIf="(authService.user$ | async)?.uid">
      <button md-button (click)="authService.login()">Login</button>
    </div>
    <div *ngIf="!(authService.user$ | async)?.uid">
      <button md-button (click)="authService.logout()">Logout</button>
    </div>
  </div>

</mat-toolbar>
<div>
  <div fxFlexOffset.gt-sm="15%" fxFlex.gt-sm="70%">
    test
  </div>
</div>
